# OpenAPI 3.1 description of the Run It on AI /v1 HTTP mirror.
#
# This is the surface a ChatGPT Custom GPT imports as its Actions schema
# (and anything else that speaks plain HTTP instead of MCP). Served live at
# GET https://mcp.runitonai.com/openapi.yaml.
#
# Design note (2026-07-24): only the FLAT per-tool endpoints are documented
# here. The generic POST /v1/tools/call envelope still exists for
# programmatic users but is deliberately absent from this doc — GPT Actions
# cannot reliably fill a free-form nested `arguments` object (the model
# emits tool args as top-level kwargs -> UnrecognizedKwargsError, observed
# in live testing).
#
# Auth model: the reader's access code — the Gumroad license key from their
# receipt — travels as a body field on /v1/chapter, not in a header. That is
# deliberate: it is the only credential every AI chat client can carry, and
# it identifies a purchase, not a person. No PII required, no endpoint
# accepts any.
openapi: 3.1.0
info:
  title: Run It on AI — companion content API
  version: 0.3.1
  description: |
    HTTP mirror of the Run It on AI MCP server (mcp.runitonai.com).

    Serves the ebook companion's operating instructions and Implementation
    Blocks (both keyless), plus buyer-gated chapter content. The book has
    SEVEN chapters (chapter 7 = Common Playbooks, id common-playbooks) plus
    front matter and appendices — all fetchable via getChapter.

    Flow for a fresh session:
      1. Call activate (no arguments) and follow the returned operating
         instructions for the rest of the conversation.
      2. Unsure which chapter_id to use? Call listBookIndex — it returns
         every valid id with its title: front matter, all chapters, and
         all appendices (e.g. appendix-b-online-reference).
      3. Implementation Blocks (the book's working exercises) via
         getImplementationBlock — free to call, no access code.
      4. Chapter and appendix prose via getChapter — requires access_code:
         the Gumroad license key on the buyer's receipt (format
         XXXXXXXX-XXXXXXXX-XXXXXXXX-XXXXXXXX). Ask the user for it once,
         then send it on every getChapter call.

    Never send the user's email, name, or conversation content; no endpoint
    accepts any of it.
  contact:
    url: https://runitonai.com
servers:
  - url: https://mcp.runitonai.com
paths:
  /v1/book-index:
    get:
      operationId: listBookIndex
      summary: List every valid chapter_id (chapters AND appendices)
      description: >
        Call this when unsure which chapter_id to use — it returns every
        fetchable id with its title, including front matter, all chapters,
        and all appendices (e.g. appendix-b-online-reference), plus the
        Implementation Block names available per chapter. No authentication.
      responses:
        "200":
          description: The book's id catalog, in book order.
          content:
            application/json:
              schema:
                type: object
                properties:
                  chapters:
                    type: array
                    items:
                      type: object
                      properties:
                        chapter_id:
                          type: string
                          description: Valid id for getChapter.
                        title:
                          type: string
                        implementation_blocks:
                          type: array
                          description: IB names usable with getImplementationBlock.
                          items:
                            type: string
                  usage_hint:
                    type: string
        "429":
          $ref: "#/components/responses/RateLimited"
  /v1/activate:
    post:
      operationId: activate
      summary: Load the companion's operating instructions
      description: >
        Call this FIRST in a fresh session. Returns the Run It on AI
        companion's full operating instructions (engagement modes, routing,
        voice rules, tool usage). No authentication. Follow the returned
        instructions for the rest of the conversation.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties: {}
              additionalProperties: false
      responses:
        "200":
          description: Operating instructions payload.
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    description: Companion identifier (run-it-on-ai).
                  version:
                    type: string
                    description: Instructions version.
                  instructions:
                    type: string
                    description: >
                      The full operating instructions (markdown). Follow
                      them for the rest of the conversation.
                  next_step:
                    type: string
                    description: One-line routing hint.
        "429":
          $ref: "#/components/responses/RateLimited"
  /v1/implementation-block:
    post:
      operationId: getImplementationBlock
      summary: Fetch an Implementation Block (no access code needed)
      description: >
        Returns a structured Implementation Block — the reader-facing prompt,
        the agent notes, and the target artifact — by chapter. Free to call:
        the Implementation Blocks are public (they also ship in the
        open-source server repo). Omit `name` to get the chapter's single IB.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [chapter_id]
              properties:
                chapter_id:
                  type: string
                  description: >
                    Chapter slug. One of: how-ai-actually-works,
                    before-you-build-anything, the-ai-tool-landscape,
                    ai-harnesses, the-glue, agents-in-claude-code.
                name:
                  type: string
                  description: >
                    IB name (e.g. compounding-question). Optional — omit to
                    get the chapter's IB.
              additionalProperties: false
      responses:
        "200":
          description: The Implementation Block (or a list when a chapter has several).
          content:
            application/json:
              schema:
                type: object
                properties:
                  ib:
                    type: object
                    properties:
                      chapter_id:
                        type: string
                      name:
                        type: string
                      reader_prompt:
                        type: string
                        description: Render this verbatim and run it interactively.
                      agent_notes:
                        type: string
                        description: Instructions for the AI running the prompt.
                      target_artifact:
                        type: string
                        description: What the exercise produces.
                      version:
                        type: string
                  ibs:
                    type: array
                    description: Present instead of `ib` when the chapter has multiple IBs.
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        one_liner:
                          type: string
        "404":
          description: Unknown chapter_id or IB name (error `ib_not_found`).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResult"
        "429":
          $ref: "#/components/responses/RateLimited"
  /v1/chapter:
    post:
      operationId: getChapter
      summary: Fetch chapter or appendix content (requires access_code)
      description: >
        Returns a full chapter or appendix, or one named section, of the
        ebook — appendices are fetched exactly like chapters (e.g.
        chapter_id appendix-b-online-reference). Requires the buyer's
        access_code — the Gumroad license key from their Run It on AI
        receipt. If the user has not provided it yet, ask for it, then send
        it on every getChapter call.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [chapter_id, access_code]
              properties:
                chapter_id:
                  type: string
                  description: >
                    Manuscript slug, e.g. how-ai-actually-works or
                    appendix-b-online-reference. All valid ids are in the
                    enum below; listBookIndex returns them with titles.
                  # BEGIN-GENERATED-CHAPTER-IDS (scripts/build-openapi.ts; do not hand-edit)
                  enum:
                    - advance-praise
                    - copyright
                    - foreword
                    - tldr
                    - how-to-read
                    - common-terms
                    - introduction
                    - how-ai-actually-works
                    - before-you-build-anything
                    - the-ai-tool-landscape
                    - ai-harnesses
                    - the-glue
                    - agents-in-claude-code
                    - common-playbooks
                    - appendix-a-glossary
                    - appendix-b-online-reference
                    - appendix-c-automation-ideas
                    - appendix-d-automation-failure-lessons
                    - appendix-e-reader-interview
                    - appendix-f-context-document-interview
                    - references
                  # END-GENERATED-CHAPTER-IDS
                section:
                  type: string
                  description: Optional H2 section slug within the chapter.
                access_code:
                  type: string
                  description: >
                    The reader's access code: the Gumroad license key from
                    their receipt (format
                    XXXXXXXX-XXXXXXXX-XXXXXXXX-XXXXXXXX).
              additionalProperties: false
      responses:
        "200":
          description: Chapter (or section) content.
          content:
            application/json:
              schema:
                type: object
                properties:
                  chapter_id:
                    type: string
                  title:
                    type: string
                  content:
                    type: string
                    description: Full chapter markdown (absent when a section matched).
                  section:
                    type: object
                    description: Present when a section slug matched.
                    properties:
                      slug:
                        type: string
                      content:
                        type: string
                  section_not_found:
                    type: boolean
                    description: True when the requested section did not match (full chapter returned).
                  requested_section:
                    type: string
        "401":
          description: >
            Missing or invalid access_code (error `unauthorized`, with a
            `hint`). Tell the user to check the license key on their Gumroad
            receipt, or find it at https://ebook.runitonai.com/access-code.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResult"
        "404":
          description: Unknown chapter_id (error `chapter_not_found`, lists available slugs).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResult"
        "429":
          $ref: "#/components/responses/RateLimited"
components:
  responses:
    RateLimited:
      description: Per-credential or per-IP rate limit hit; retry after the indicated delay.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResult"
  schemas:
    ErrorResult:
      type: object
      properties:
        error:
          type: string
          description: Machine-readable error code.
        hint:
          type: string
          description: Human-readable guidance, safe to relay to the user.
      additionalProperties: true
